body {
  text-align: center;
  font-size: 130%;
  /* font-size: 2.5vw; */
  font-family: sans-serif;

  margin: 2.5vw;
}

a {
  color: inherit;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  display: grid;
  grid-template-areas:
    'name photo_casual'
    'photo_full photo_casual'
    'photo_full personal'
    'photo_full photo_suit'
    'agency photo_suit'
    'photo_bare_chest photo_suit'
    'photo_bare_chest links'
    'footer footer'
    ;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5vw;
}

.name {
  grid-area: name;
}

.name h1 {
  margin: 0;
}

.name_reading {
  font-size: 100%;
  color: #888888;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




#photo_casual { grid-area: photo_casual; }
#photo_bare_chest { grid-area: photo_bare_chest; }
#photo_suit { grid-area: photo_suit; }
#photo_full { grid-area: photo_full; }

.personal_details {
  grid-area: personal;
}

.details_wrapper {
  /* text-align: center; */
  grid-template-columns: 1fr 1fr;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  display: grid;
  grid-gap: 0.25em;

  flex-direction: column;
  align-items: center;
}


.key {
  font-weight: bold;
}

.key:not(:first-child){
  margin-top: 1em;
}






.agency {
  grid-area: agency;
}

.agency_details {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: inline-grid;
  grid-template-areas:
    'logo name'
    'logo location'
    'logo website';
  grid-template-columns: repeat(2, auto);
  grid-gap: 0.5em 2em;
}

@media only screen and (max-width: 700px) {
  .agency_details {
    text-align: center;
    grid-template-areas:
      'logo'
      'name'
      'location'
      'website';
    grid-template-columns: auto;
    grid-gap: 0.5em 2em;
    justify-items: center;
  }

  .details_wrapper {
    grid-template-columns: 1fr;
  }

  main {
    /* grid-template-areas:
      'name'
      'photo_casual'
      'photo_full photo_casual'
      'photo_full personal'
      'photo_full photo_suit'
      'agency photo_suit'
      'photo_bare_chest photo_suit'
      'photo_bare_chest links'
      'footer footer'
      ;
    grid-template-columns: repeat(2, 1fr); */
  }

}

.agency_logo {
  height: 6em;
  grid-area: logo;
}

.agency_name {
  font-weight: bold;
  grid-area: name;
}

.agency_website { grid-area: website; }
.agency_location { grid-area: location; }

.links {
  grid-area: links;
}

.links_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.links a:not(:last-child) {
  margin-bottom: 1.5em;
}

.links img {
  height: 1.2em;
}

.links a > * {
  margin: 0.25em;
}


.footer {
  color: #666666;
  font-size: 80%;
  border-top: solid 1px #dddddd;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5em;
}

.footer > * {
  margin: 0 0.25em;
}

.footer .logo {
  height: 2.5em;
  width: 2.5em;
}

.app_info {
  text-align: left;
}


@media only screen and (max-width: 700px) {
  .agency_details {
    text-align: center;
    grid-template-areas:
      'logo'
      'name'
      'location'
      'website';
    grid-template-columns: auto;
    grid-gap: 0.5em 2em;
    justify-items: center;
  }

  .details_wrapper {
    grid-template-columns: 1fr;
  }

  body {
    font-size: 100%;
  }

  main {
    /* grid-template-areas:
      'name'
      'photo_casual'
      'photo_full photo_casual'
      'photo_full personal'
      'photo_full photo_suit'
      'agency photo_suit'
      'photo_bare_chest photo_suit'
      'photo_bare_chest links'
      'footer footer'
      ;
    grid-template-columns: repeat(2, 1fr); */
  }

  .links a {
    flex-direction: column;
  }

  .links img {
    height: 2em;
  }

}
